{{#if dropzone}}
  <div class="file-picker__dropzone {{if complete 'no-border file-picker__backdrop'}}">
    {{#if imagePreviewSrc}}
      <img src={{imagePreviewSrc}} class="file-picker__preview_img {{if isUploading 'opacity-2' 'opacity-8'}}">
    {{/if}}

    {{yield}}
  </div>
{{else}}
  {{yield}}
{{/if}}

<input type="file" value={{file}} accept={{accept}} multiple={{multiple}} class="file-picker__input">
